http:
  routers:
    hassio:
      entryPoints:
        - websecure
      service: hassio
      rule: Host(`{{ hassio_fqdn }}`)
      tls:
        certresolver: cloudflared
    pialert:
      entryPoints:
        - websecure
      middlewares:
        - omv-ipwhitelist
        - https-redirect
      service: pialert
      rule: Host(`{{ pialert_fqdn }}`)
      tls:
        certresolver: cloudflared
    omv:
      entryPoints:
        - websecure
      middlewares:
        - omv-ipwhitelist
        - https-redirect
      service: omv
      rule: Host(`{{ omv_fqdn }}`)
      tls:
        certresolver: cloudflared

    traefik-dashboard:
      entryPoints:
        - websecure
      middlewares:
        - omv-ipwhitelist
        - https-redirect
      service: api@internal
      rule: Host(`{{ traefik_fqdn }}`)
      tls:
        certresolver: cloudflared
    adguardhome1:
      entryPoints:
        - websecure
      service: adguardhome1
      middlewares:
        - https-redirect
        - adguard-ipwhitelist@docker
      rule: Host(`{{ adguard1_fqdn }}`)
      tls:
        certresolver: cloudflared

  middlewares:
    omv-ipwhitelist:
      ipwhitelist:
        sourcerange: {{ traefik_serv_src_ips }}
    https-redirect:
      redirectscheme:
        permanent: true
        scheme: https
    gauth:
      basicauth:
        usersfile: /etc/traefik/.pass

  # Add the service
  services:
    hassio:
      loadBalancer:
        servers:
          - url: {{ traefik_serv_hassio_url }}
    
    pialert:
      loadBalancer:
        servers:
          - url: {{ traefik_serv_pialert_url }}
    omv:
      loadBalancer:
        servers:
          - url: {{ traefik_serv_omv_url }}
    adguardhome1:
      loadBalancer:
          servers:
            - url: {{ traefik_serv_adguardhome1_url }}
      
    
