IPv4dev=eth0
dhcpReserv=1
IPv4addr={{ vpn_server_ip }}/24
IPv4gw={{ vpn_local_gw }}
install_user={{ vpn_user }}
install_home=/home/{{ vpn_user }}
VPN={{ vpn_server_sel }}
pivpnPORT={{ vpn_port }}
pivpnDNS1={{ vpn_dns_1 }}
pivpnDNS2={{ vpn_dns_2 }}
pivpnHOST={{ vpn_fqdn }}
INPUT_CHAIN_EDITED=0
FORWARD_CHAIN_EDITED=1
INPUT_CHAIN_EDITEDv6=
FORWARD_CHAIN_EDITEDv6=
pivpnPROTO=udp
pivpnMTU=1420
pivpnDEV=wg0
pivpnNET={{ vpn_net }}
subnetClass=24
pivpnenableipv6=0
ALLOWED_IPS="{{ vpn_allowed_ips }}"
UNATTUPG=1
INSTALLED_PACKAGES=()
pivpnPERSISTENTKEEPALIVE=25
UNATTUPG=1